.sidebar {
  height: 90vh;
  padding: 5px;
}

.sidebar_header {
  border-right: 1px solid rgb(17, 167, 104);
  background-color: darkgrey;
  padding: 5px;
}

.sidebar_headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar_search {
  align-items: center;
  display: flex;
  background-color: #dadbd3;
  height: 40px;
  padding: 10px;
}

.sidebar_searchContainer {
  display: flex;
  align-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar_searchContainer > input {
  border: none;
  width: 80%;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  color: grey;
  padding: 10px;
}

.sidebar_chats {
  background-color: white;
  overflow: scroll;
  height: 85%;
}
