.sidebarChat {
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid whitesmoke;
}

.sidebarChat:hover {
  background-color: darkgrey;
}

.sidebarChat_info {
  padding: 10px;
}

.shortheight {
  max-height: fit-content;
}

.blacktext {
  text-decoration: none;
  color: black;
}
